* {
  box-sizing: border-box;
}

body {
  background: #4286f4;
}

li {
  list-style: none;
}

input {
  padding: 20px;
  margin: 3px 5px;
  font-size: 20px;
  position: fixed;
  right: 0;
  top: 0;
}

.chart {
  float: right;
  position: fixed;
  top: 190px;
  left: 23em;
}
