
*{
  box-sizing: border-box;
    font-family: 'EB Garamond', serif;
}

body {
  font-family: 'EB Garamond', serif;
}



.app {
  display: flex;
  flex-direction: row; 
  height: 100%;
  padding: 10px;
}

.boardContainer {
  width: 620px;
  position: relative;
}

.board {
  position: absolute;
}

.pixel{
  position: absolute;
  border: 1px solid darkgray;
}

.pixel-alive{
  background-color: blue;
}

.pixel-dead{
  background-color: lightgray;
}